#mappa{
    margin-top: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fine{
    margin-top: 140px;
    background: cornflowerblue;
    bottom:0;
    left:0;
    width:100%;
    padding: 20px;
}

.menu2,.informazioni{
    font-family: 'Motsserrat',sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#prova2{

    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.menu2{
    list-style: none;
    right: 400px;
    position: relative;
    margin-inline: -55px;
    font-size: 30px;
}
.menu2 label{
    display: inline-block;
    padding: 0 20px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    color: #2980b9;
}
.informazioni{
    font-size: 15px;
}