

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
.center {
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;

}
table {
    background: white;
    border:1px solid grey;
    border-collapse: collapse;
}
table td {
    border: 1px solid black;
    padding: 5px;
}
table th {
    border: 1px solid black;
    padding: 3px;
}
table th {
    border: 1px solid black;
    padding: 3px;
    background-color: cornflowerblue;
}


