*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inizio{
    background: cornflowerblue;
}
.menu,.Service,.Contact{
    font-family: 'Motsserrat',sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#prova{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.menu{
    list-style: none;
    font-size: 30px;
}
.menu li{
    display: inline-block;
    padding: 0 20px;
}
.menu li .Service{
    transition: all .3s ease;
}
.menu .Service:hover{
    color: #39f;
}
.Contact{
    padding: 9px 25px;
    background: #0d94a6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}
.Contact:hover{
    background: #39f;
}
.mauro button {
    margin-inline: 5px;
}
