body{
    margin: 0 auto;
    background-image: url("../../assets/sfumato.png");
    background-repeat: no-repeat;
}
.container{
    position: relative;
    right: 400px;
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44,62, 80,0.7);
    margin-top: 160px;
    top: 100px;
}

.container img{
    width: 180px;
    height: 180px;
    margin-top: -90px;
    left: 20px;
}

.container2{
    position: relative;
    left: 400px;
    top: -558px;
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44,62, 80,0.7);
    margin-top: 160px;

}

.container2 img{
    width: 180px;
    height: 180px;
    margin-top: -90px;
}

.btn-Enter{
    position: relative;
    top: -9px;
    left: 395px;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    background-color: chocolate;
    color: #fff;
}
.btn-Enter2{
    position: relative;
    top: -667px;
    left: 1193px;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    background-color: chocolate;
    color: #fff;
}

.log_out{
    position: relative;
    float: right;
}
.username h1{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    margin-top: 50px;
    font-weight: bold;
}
.material-icons.logout{
    float: right;
    color: white;
    cursor: pointer;
}