body{
    margin: 0 auto;
    background-image: url("../../assets/definito.png");
    background-repeat: no-repeat;
    background-size: 100% 968px;
}

.container{
    width: 500px;
    height: 750px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44, 62, 80,0.7);
    margin-top: 160px;
}

.container img{
    width: 150px;
    height: 150px;
    margin-top: -60px;
}


input[type="text"],input[type="password"]{
    margin-top: 30px;
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 40px;

}

.form-input::before{
    content: "\f007";
    font-family: "FontAwesome";
    padding-left: 07px;
    padding-top: 40px;
    position: absolute;
    font-size: 35px;
    color: #2980b9;
}

.form-input:nth-child(2)::before{
    content: "\f023";
}

.btn-register{
    font-weight: bold;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    background-color: #27ae60;
    color: #fff;
}

.link {
    font-weight: bold;
    color: darkorange;
    text-decoration: none;
}
.docente{
    display: flex;
    flex-direction: column;
}
.studente{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#omino{
    position: relative;
    left: -126px;
    top: 63px;
}
.form_input.username{
    width: min-content;
}
#lucchetto{
    position: relative;
    top: 63px;
    right: 126px;
}
.form_input.password{
    width: min-content;
    top: -25px;
    position: relative;
}
.material-icons.badge1{
    position: relative;
    top: 63px;
    right: 126px;
}
.material-icons.badge2{
    position: relative;
    top: 63px;
    right: 126px;
}